/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* src/styles.css */
html,
body {
  height: 100%;
  /* Garante que o body ocupe a tela toda */
  margin: 0;
  background-color: rgb(219, 218, 218);
  /* Sua cor de fundo */
  background-size: cover;
  /* Faz a imagem cobrir toda a área */
  background-attachment: fixed;
  /* Mantém o fundo fixo ao rolar */
}

* {
  font-family: 'Sora', sans-serif;
}