.btn-default {
    align-items: center;
    gap: 8px;
    border: none;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary {
    background-color: #615f5f;
    color: white;
}

.primary:hover {
    background-color: #979696;
}


.secondary {
    background-color: transparent;
    border: 2px solid #615f5f;
    color: #615f5f;
}

.secondary:hover {
    background-color: #615f5f;
    color: white;
}